.main-header {
    background-color: #334756;
    padding: 1rem 2rem;
    color: #fff;
    display: flex;
    align-items: center;
}

.main-header a {
    margin: 0 1rem;
}

.main-header h2 {
    margin: 0;
}